## Pandas 인덱서

- loc : label 기반 복수 인덱싱
- iloc : 숫자 기반 복수 인덱싱

In [1]:
import pandas as pd
import numpy as np

### loc 인덱서
loc 인덱서는 아래와 같은 조건에서 row 인덱싱 또는 column 인덱싱을 할 수 있다.
- 정수 인덱스가 아닌 label 값(정수로 인덱스를 직접 지정한 경우는 예외)
- label 값의 List
- label 값의 slicing
- boolean list, 1차원 array, Series

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4), index=['a', 'b', 'c'], columns=['A', 'B', 'C', 'D'])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
df.loc['a', 'A']

10

In [4]:
df.loc['b':, 'A']

b    14
c    18
Name: A, dtype: int64

In [5]:
df.loc[['a', 'b'], ['B', 'D']]

    B   D
a  11  13
b  15  17

In [6]:
df.loc['a':, 'B':]

    B   C   D
a  11  12  13
b  15  16  17
c  19  20  21

In [7]:
df.loc[df.A > 10, :]    # 첫 열이 10보다 큰 행만 출력

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [8]:
df.A

a    10
b    14
c    18
Name: A, dtype: int64

In [9]:
print(type(df.loc['a', :]))
print(type(df[:1]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [10]:
df.loc['e']  = [90, 91, 92, 93]
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21
e  90  91  92  93

### iloc 인덱서
정수 인덱스만 사용할 수 있다.

In [11]:
df.iloc[0, 1]

11

In [12]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int64

In [13]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int64

In [14]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

In [15]:
df.iloc[-1]

A    90
B    91
C    92
D    93
Name: e, dtype: int64